{% extends 'common/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<!--start page wrapper -->
<div class="page-wrapper">
  <div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">Tables</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Basic Table</li>
          </ol>
        </nav>
      </div>
      <div class="ms-auto">
        <div class="btn-group">
          <a href="{% url 'userapp:addcomplaints' %}"><button type="button" class="btn btn-primary">Raise Complaint</button></a>
          <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
            <a class="dropdown-item" href="javascript:;">Another action</a>
            <a class="dropdown-item" href="javascript:;">Something else here</a>
            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
          </div>
        </div>
      </div>
    </div>
    <!--end breadcrumb-->
    <div class="row">
      <div class="col-xl-9 mx-auto">
        
        <h6 class="mb-0 text-uppercase">Your Complaints and Status</h6>
        <hr/>
        <div class="card">
          <div class="card-body">
            <table class="table mb-0 table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Date</th>
                  <th scope="col">Police Station</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for complaint in complaints_list %}
                <tr>
                  <th scope="row">></th>
                  <td>{{complaint.date}}</td>
                  <td>{{complaint.police_station}}</td>
                  {% if request.user.is_staff %}
                  {% if complaint.get_latest_update.status %}
                  <td><a href="{% url 'policeapp:complaintdetails' complaint.id %}">{{complaint.get_latest_update.status}}</a></td>
                  {% else %}
                  <td><a href="{% url 'policeapp:complaintdetails' complaint.id %}">Open</a></td>
                  {% endif %}

                  {% else %}
                  {% if complaint.get_latest_update.status %}
                  <td><a href="{% url 'userapp:casestatustimeline' complaint.id %}">{{complaint.get_latest_update.status}}</a></td>
                  {% else %}
                  <td><a href="{% url 'userapp:casestatustimeline' complaint.id %}">Open</a></td>
                  {% endif %}
                  {% endif %}
                  
                </tr>
                {% endfor %}
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
</div>
<!--end page wrapper -->
<!--end page wrapper -->
  {% endblock %}

{% block javascript %}
<script>
  //   page specific scripts
  console.log("This will run only in index.html")
</script>
{% endblock %}