{% extends 'common/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}




<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Tables</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Data Table</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <a href="{% url 'userapp:addcomplaints' %}"><button type="button" class="btn btn-primary">Raise
                            Complaint</button></a>

                </div>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">FIR Details</h6>
        <hr />
        <div class="card" style="width: 100%;">
            {% if fir_detail.document_feild %}
            <iframe src="/media/{{fir_detail.document_feild}}" width="100%" height="300px"></iframe>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{fir_detail.fir_number}}</h5>
                <hr/>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>FIR Number</th>
                                        <td>{{fir_detail.fir_number}}</td>
                                    </tr>
                                    <tr>
                                        <th>Created AT</th>
                                        <td>{{fir_detail.date}}</td>
                                    </tr>
                                    <tr>
                                        <th>Case Type</th>
                                        <td>{{fir_detail.case_type}}</td>
                                    </tr>
                                    <tr>
                                        <th>Hearing Date</th>
                                        <td>{{fir_detail.hearing_date}}</td>
                                    </tr>

                                    <tr>
                                        <th>Decision Date</th>
                                        <td>{{fir_detail.decision_date}}</td>
                                    </tr>

                                    <tr>
                                        <th>Court NO and Judge</th>
                                        <td>{{fir_detail.court_no_and_judge}}</td>
                                    </tr>

                                    <tr>
                                        <th>Requested By</th>
                                        <td>{{fir_detail.complaint.user}}</td>
                                    </tr>

                                    <tr>
                                        <th>Status</th>
                                        <td>{{fir_detail.status}}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>

        <!--end breadcrumb-->
        {% if firupdateRecords %}
        <h6 class="mb-0 text-uppercase">FIR UPDATE RECORD</h6>
        <hr />
        
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date Updated</th>
                                <th>Update</th>
                                <th>Updated By</th>
                                <th>FIR Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for firupdateRecord in firupdateRecords  %}
                            <tr>
                                <td>{{firupdateRecord.date}}</td>
                                <td>{{firupdateRecord.comment}}</td>
                                <td>{{firupdateRecord.staff}}</td>
                                <td>{{firupdateRecord.current_status}}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                       
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if request.user.is_staff %}

        {% if fir_detail.document_feild %}
        <div class="row">
                    
            <div class="row p-2">
                <form method="post" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    <div class="row">
    
                       
                        <div class="col-sm-12">
                            <label for="inputFirstName" class="form-label">Case Status</label>
                            {{firForm.status}}
                        </div>
                        <div class="col-sm-12">
                            <label for="inputFirstName" class="form-label">Hearing Date</label>
                            {{firForm.hearing_date}}
                        </div>
                        <div class="col-sm-12">
                            <label for="inputFirstName" class="form-label">Decision Date</label>
                            {{firForm.decision_date}}
                        </div>
                        <div class="col-sm-12">
                            <label for="inputFirstName" class="form-label">Court No And Judge </label>
                            {{firForm.court_no_and_judge}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button type="submit"  name="fir-form" class="btn btn-success"><i class='bx bx-note'></i>UPDATE FIR</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
        {% endif %}
        {% endif %}

        </table>
    </div>
</div>
</div>
</div>
</div>
<!--end page wrapper -->











{% endblock %}

{% block javascript %}
<script>
    //   page specific scripts
    console.log("This will run only in index.html")
</script>
{% endblock %}